body { background: #e242c5; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 18px; display: flex; }
.block-search-0 { color: #9c0e5d; font-size: 17px; margin-bottom: 5px; }
.block-cluster-1 { color: #a1ba84; font-size: 18px; margin-bottom: 5px; }
.block-search-2 { color: #81478b; font-size: 18px; margin-bottom: 5px; }
.block-notify-3 { color: #f27518; font-size: 18px; margin-bottom: 5px; }
.block-session-4 { color: #21f3f1; font-size: 17px; margin-bottom: 5px; }